@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'emerald';
  default: true;
  --color-primary: cornflowerblue;
  --color-secondary: lightsalmon;
  --color-neutral: yellowgreen;
}
